.containerLogin{
    border: solid 1px rgb(113, 136, 136);
    border-radius: 10px;
    max-width: 450px;
    min-width: 220px;
    padding: 10px;
    background-color: rgb(45, 28, 122, 0.2);
    box-shadow: 20px 20px 14px rgba(0, 0, 0, 0.7);
    margin-right: 22px;
    margin-top: 24px;
}

.textLogin{
    color: white;
    text-shadow: 3px 3px 4px #700707;
}